<!DOCTYPE html>
<html>
   <head>
      <title>Home Page</title>
   </head>
   <body>

      <!-- container for page -->
      <div class="container">       
          
          <h1>Home Page</h1>

<%= link_to 'Alpha Blog', articles_path %> | <%= link_to 'About', about_path %>


      
         <!-- footer container -->
         <footer>
            Copyright Martin Collins B00643448
         </footer>
         <!-- end of footer container -->
      </div>
      <!-- end of page container -->
   </body>
</html>