$navbar-default-bg:#00B5C6;


@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
}

.center {
  text-align: center;
}

.jumbotron{
  background-image: asset-url('15.JPG');
  background-size: cover;
  height: 300px;

}

.jumbotron h1{

text-align: center;
margin-bottom: 30px;
font-weight: bold;

}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid black;
  color: #777;
}